<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ecommerce Suite">
    <listeners>
        <listener class-name="org.test.Listeners"/>
    </listeners>
    <test verbose="2" name="Scenario_01" enabled="true">
        <classes>
            <class name="org.test.Scenario_01_VerifyHomePage"/>
        </classes>
    </test>
    <test verbose="2" name="Scenario_02" parallel="false" enabled="false">
        <classes>
            <class name="org.test.Scenario_02_CreateAccount"/>
        </classes>
    </test>
    <test verbose="2" name="Scenario_03" parallel="false" enabled="false">
        <classes>
            <class name="org.test.Scenario_03_OrderProduct">
                <parameter name="product" value="t-shirt"/>
                <parameter name="quantity" value="3"/>
                <parameter name="payment" value="bankwire"/>
            </class>
        </classes>
    </test>
    <test verbose="2" name="Scenario_02-03_Variant_01" parallel="false" enabled="true">
        <classes>
            <class name="org.test.Scenario_02_CreateAccount"/>
            <class name="org.test.Scenario_03_OrderProduct">
                <parameter name="product" value="blouse"/>
                <parameter name="quantity" value="1"/>
                <parameter name="payment" value="bankwire"/>
            </class>
        </classes>
    </test>
    <test verbose="2" name="Scenario_02-03_Variant_02" parallel="false" enabled="true">
        <classes>
            <class name="org.test.Scenario_02_CreateAccount"/>
            <class name="org.test.Scenario_03_OrderProduct">
                <parameter name="product" value="t-shirt"/>
                <parameter name="quantity" value="3"/>
                <parameter name="payment" value="cheque"/>
            </class>
        </classes>
    </test>
</suite>