<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ecommerce Suite">
    <listeners>
        <listener class-name="org.test.Listeners"/>
    </listeners>
    <test verbose="2" name="Scenario_01" enabled="true">
        <classes>
            <class name="org.test.Scenario_01_VerifyHomePage"/>
        </classes>
    </test>
    <test verbose="2" name="Scenario_02" enabled="true">
        <classes>
            <class name="org.test.Scenario_02_CreateAccount"/>
        </classes>
    </test>
    <test verbose="2" name="Scenario_03" enabled="true">
        <classes>
            <class name="org.test.Scenario_03_OrderProduct">
                <parameter name="product" value="blouse"/>
            </class>
        </classes>
    </test>
</suite>