<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">./logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level - %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="File" fileName="${basePath}/testRuns-${date:yyy-MM-dd}.log"
                     filePattern="${basePath}/testRuns-%d{yyy-MM-dd}_%i.log">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level - %logger{36} - %msg%n"/>
            <sizeBasedTriggeringPolicy size="5000"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>