<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">target/logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level - %logger{36} - %msg%n"/>
        </Console>
        <Routing name="RoutingAppender">
            <Routes pattern="$${ctx:threadName}">
                <Route>
                    <File name="File"
                          fileName="${basePath}/${date:yyy-MM-ddHHmmssSSS}-${ctx:threadName}_test.log"
                          append="false">
                        <PatternLayout
                                pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] - %msg%n"/>
                    </File>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="RoutingAppender"/>
        </Root>
    </Loggers>
</Configuration>